<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                AI Software Engineer with a master degree in robot systems and a 
                bachelor degree in computer science. 
                I am a highly motivated person with +3 years of work experience in 
                high- and deep tech companies as software engineer, 
                with excellent communication skills who thrives in a fast-paced dynamic environment. 
                Proficient in C++ and Python with a focus on machine learning and robotic applications. 
            </p>
        </div>
    </section>
</div>
