.container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
.item {
  background-color: #1e5e95;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}